body {
    width: 70%;
    margin: auto;
}

header {
    background-color: grey;
    overflow: auto;
    margin: auto;
}

body {
    font-family: 'Lucida Console','Arial';
}
.logo {
    float: left;
}



.logo h1 {
   font-size: 30px;
   margin: 0;
   color: white;
}
nav {
    float: right;
    padding: 0;
    /*margin-top: 60px;*/
}
 nav ul {
    padding: 0 0 0 0;
    margin: 0;
 }

.nav_bar .dropdown {
    color: white;
    list-style-type: none;
    display: inline-block;
    background-color: grey;
    font-size:20px;
    padding:0px 20px 0px 20px;
    margin: 0;
}
.nav_bar li a {
    color: white;
    text-decoration: none;
}
.dropdown:hover, .dropdown a:hover, .link:hover{
    color:green ;
}

.intro {
    text-align: center;
    padding: 10px 0px 0px 0px;
    width:100%;
    height: 300px;
}

.headshot {
    float: left;
    padding: 0 10px;
    width: 45%;
}

.headshot .profile_picture {
    width: 100%;
}

.short_intro {
    float: left;
    width: 45%;
    padding: 0 10px;
}

.links{
    display: block;
}

button {
    margin: 0px 5px 0px 5px;
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    float:left;
}

button:hover {
    background-color: green;
}
